
header {
    background-color: #35424a;
    border-bottom: 0px solid #ff0707;
    color: white;
    padding-top: 5px;
    min-height: 70px;
    
  }
  
nav {
    margin-bottom: 30px;
}
  
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#fo { /*css code über footer*/
    position: absolute;
    margin-left: 800px;
    color: #ffffff;
}
.footer{
position: absolute;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: right;
}

