@media screen and (max-width: 1500px){
    .l1{
        position: relative;
         margin-top: 20px;
          margin-left: 20px;
          margin-right: 70px;   
          background-color: rgb(51, 51, 51);
          color: rgb(28, 27, 27);
          height: 1400px;
          width: 800px;
          border-radius: 10px;
      }



      



    .inlineBlue{
        background-color:#77B5FE; margin-left: 2px; margin-top: 2px; width: 11px; height: 11px; border-radius: 100%;
      }
      
      .inlineRed{
        background-color:#fc0000; margin-left: 2px; margin-top: 2px; width: 11px; height: 11px; border-radius: 100%;
      }
      
      .versandButton:hover{
        cursor: pointer;  
      }
      
      .versandButton:hover{
        opacity: 50%;
      }
      
      
      .payButtons:hover{opacity: 60%; cursor: pointer;  }
      .scaleButtons:hover{opacity: 60%; cursor: pointer;  }
      .colorButtons:hover{opacity: 60%; cursor: pointer; }
      .outputMethod:hover{opacity: 60%; cursor: pointer; }
      .saveOnSD:hover{opacity: 60%; cursor: pointer; }
      
      .payButtons:focus{
        background-color: #ff0707 !important;
      }
      
      .con2{
        float: left;
        position: absolute;
        top: 1200px;
        left: 400px;
        background-color: rgb(80, 77, 77);
        width: 350px;
        height: 150px;
        border-radius: 10px;

        
      }
      
      .input{
        font-size: 20px;
          width: 325px;
          height: 40px;
          background-color: #525050;
          position:absolute;
          border-radius: 8px;
          border-width: 0;
          color: white;
          outline: none;
          
      }
      
      .input:focus{
        border-width: 0;
      }
      
      .leftTitle{
        margin-left:40px;
        margin-top: 20px;   
        color: white;
        font-size: 20px;
        line-height: 2;
      }
      
      .rightTitle{
        margin-left: 40px;
        margin-top: 20px;
        color: white;
        font-size: 20px;
      }
      
      .fieldCon{
        display: flex;
        margin-top: 50px;
        margin-bottom: 45px; 
        margin-left: 40px;
        position: relative;
      }
      
      .fieldNote{
        color: white;
      }
      
      
      
      
      
      .container {
        display: grid;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0;
        overflow: hidden;
        padding:0;
      }
      
      
      body{
          background-color: #413e3e;
          color: #464444;
          margin: 0 ;
      }

      .responsiveLine{
        margin-left: 35px; margin-top: 50px; color: white; background-color: white; width: 700px; margin-right: 1px; height: 2px;
      }
}


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }

    
}	


@media screen and (max-width: 950px){

    .l1{
        margin-top: -200px;
        margin-left: -100px;
        transform: scale(0.7) 
    }
    
}
/* Dropodown */



