<!DOCTYPE html>
<html>
    <!--Schrift und Zeichenkodierung-->
    <head><meta charset="utf-8"/> <style>body {font-family: system-ui, sans-serif;}</style></head> <!--change default font-->

    <!--Cloudfare styles für bestimmte -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./pc.css">
    <link rel="stylesheet" href="./responsive.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

    <header>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>mabyst | made by students  </title>
        
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#"><b>made by students</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produkte
          
        </a>

        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Alle Produkte</a>
		  <div class="dropdown-divider"></div>

		  <a class="dropdown-item" href="/sensor">CO<sub>2</sub> Sensor</a>
        </div>
      </li>
	   <li class="nav-item ">
        <a class="nav-link" href="/kaufen">Kaufen</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/hilfe">Hilfe</a>
      </li>
    </ul>
	 <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                  Irgendwas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">
                  Über uns
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.sophie-scholl-schule.eu/">
                  Sophie-Scholl-Schule
                </a>
            </li>
        </ul>
	
    <span class="navbar-text">
    </span>
  </div>
</nav>
      
      </header>

      <p style="color: white; margin-left: 20px; margin-top: 15px;">CO<sub>2</sub> Sensor kaufen</p>
      <div style="margin-left: 20px; color: white; background-color: white; width: auto; margin-right: 60px; height: 1px;"></div>
      
      <div class ="l1">


        <div class="left">
          <p class="leftTitle">Ihre Daten:</p>
          <div class="fieldCon">
            <p class="fieldNote">Name:</p>


            <input class="input" style="left: 400px;" type="text" placeholder="Ihr Name" ></input>
          </div>
          <div class="fieldCon">
            <p class="fieldNote">Email*:</p>
            <input class="input" style="left: 400px;" type="email"placeholder="Ihre Email"></input>
          </div>
          <div class="fieldCon">
            <p class="fieldNote">Anschrift *:</p>
            <input class="input" style="left: 400px; " type="text"placeholder="Straße, Hausnummer, Postleitzahl"></input>
          </div>
          <div class="fieldCon" style="display: block;">
            <p class="fieldNote">Anmerkungen</p>
            
            
              <input class="input" style="left: 400px; top: 0px; " type="text" placeholder="Ihre Anmerkung(en)" ></input>        

           

            

           

            <!--<input class="input" type="text"placeholder="Versandart oder Abholung"></input>-->

          </div>
          <div style="margin-top: 70px;margin-bottom: 45px; margin-left: 40px;position: relative;"> 

            <p class="fieldNote">Zweck:</p>
            <div style="display: flex;">
              
              <div class="payButtons"; id="payButtonPaypal" style="border-radius: 10px; background-color: #525050;width:220px; height: 55px;  display: flex;">
                <b style="margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Privat</b>
                 <div style="pointer-events: none; border-color: #ffffff; border-style: solid; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; margin-left: 125px; border-width: 2px;  "> <div>
                   <div></div>
                 </div> </div>
              </div>
              
              <div class="payButtons"; id="payButtonBank" style="border-radius: 10px;background-color: #525050;width:220px; height: 55px; margin-left: 20px; display: flex; ">
                <b style="margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Gebrauch</b>
                 <div style="border-color: #ffffff; border-style: solid; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; margin-left: 100px; border-width: 2px; pointer-events: none;">
                  <div ></div>
                </div>
              </div>

              <div class="payButtons"; id="payButtonBar" style="border-radius: 10px;background-color: #525050;width:220px; height: 55px; margin-left: 20px; display: flex; ">
                <b style="margin-top: 15px; margin-left: 5px; color: white; pointer-events: none;"onselectstart="return false">Firma/Unternehmen</b>
                <div style="border-color: #ffffff; border-style: solid; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; margin-left: 25px; border-width: 2px; pointer-events: none;">
                 <div ></div>
               </div>
             </div>

            </div>
            
          </div>
          
          <div class="responsiveLine"></div>

          <!--#region-->

          

          
          <!-- #endregion -->
        
        </div> 

        <div class = "pcLine"></div>
        
        <div class="right">
          <p class="rightTitle">Ihre Konfiguration:</p>
          
          <div class="fieldCon">
            <p class="fieldNote">Anzahl:</p>
            <input class="input" style="left: 400px;" type="text"placeholder="Anzahl"></input>
          </div>
          
          <div class="fieldCon">
            <p class="fieldNote">Größe der Box:</p>
            
            <div class="scaleButtons"; id="scaleKlein" style="border-radius: 10px;background-color: #525050;width:220px; height: 55px; margin-left: 250px; display: flex; position: absolute;  ">
                                        
              <b style="margin-top: 15px; margin-left: 8px; color: white; pointer-events: none;"onselectstart="return false">Klein</b>
              <div style="border-color: #ffffff; border-style: solid; width: 19px; margin-left: 100px; border-radius: 100%; height: 18px; margin-top: 17px ;border-width: 2px; pointer-events: none;">             
               <div ></div>       
             </div>
             <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="UwU" data-html="true" data-content="Hier ist ein Bild einer niedlichen Katze. Sie ist wirklich sehr niedlich nicht wahr? <img src='https://i.pinimg.com/736x/9c/f4/59/9cf459cf317d01815990f6a75e727554.jpg' width='200' />" style="margin-left:10px"></i>
             
             
           </div>
           

           <div class="scaleButtons"; id="scaleGroß" style="border-radius: 10px;background-color: #525050;width:220px; height: 55px; margin-left: 500px; display: flex; position: absolute; ">
            <b style="margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Groß</b>
            <div style="border-color: #ffffff; border-style: solid; margin-left: 110px; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; border-width: 2px; pointer-events: none; ">
             <div ></div>            
           </div>
           <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="Hallo Welt" data-html="true" data-content="Wilkommen im popover. Hier seht ihr ein Bild von einem Arduino: <img src='./img/arduino_beispiel.png' width='200' />" style="margin-left:10px"></i>
            
           
         </div>

            <div></div>
          </div>

          <div class="fieldCon">
            <p class="fieldNote">Farbe:</p>
            
            <div class="colorButtons"; id="schwarz" style="border-radius: 10px;background-color: #525050;width:160px; height: 55px; margin-left: 250px; display: flex; position: absolute;  ">
              <b style="margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Schwarz</b>
              <div style="border-color: #ffffff; border-style: solid; width: 19px; margin-left: 30px; border-radius: 100%; height: 18px; margin-top: 17px ;border-width: 2px; pointer-events: none;">
               <div ></div>
             </div>
             <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="Noice enten" data-html="true" data-content="Hier is ne nice Ente <img src='https://files.billa.at/fg/thema7/20111101_23_l.jpg' width='200' />" style="margin-left:10px"></i>
           </div>

           <div class="colorButtons"; id="grau" style="border-radius: 10px;background-color: #525050;width:160px; height: 55px; margin-left: 420px; display: flex; position: absolute; ">
            <b style="margin-top:15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Grau</b>
            <div style="border-color: #ffffff; border-style: solid; margin-left: 50px; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; border-width: 2px; pointer-events: none; ">
             <div ></div>
           </div> 
           <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="Andere Noice Ente" data-html="true" data-content="Hier ist noch so ne andere Ente  <img src='https://img.bildderfrau.de/img/haustiere/crop229178068/8794198155-w820-cv16_9-q70-dc1/Ente.jpg' width='200' />" style="margin-left:10px"></i>
         </div>

         <div class="colorButtons"; id="weiß" style="border-radius: 10px;background-color: #525050;width:160px; height: 55px; margin-left: 590px; display: flex; position: absolute; ">
          <b style="margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Weiß</b>
          <div style="border-color: #ffffff; border-style: solid; margin-left: 45px; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; border-width: 2px; pointer-events: none; ">
           <div ></div>
         </div> 
         <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="Jetzt aber noice Katze" data-html="true" data-content="Uglaublich UwU Katze <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsv8ZtB3IhBDutSdYe8b3wyq80F7j9WCxLjNCz-tJEVWwAE2_1uVBguyVrDBY9_ZL0p6I&usqp=CAU' width='200' />" style="margin-left:10px"></i>              
       </div>
         
         
        </div>

          <div class="fieldCon">
            <p class="fieldNote">Art des Outputs:</p>
            <div class="outputMethod"; id="outputLed" style="border-radius: 10px;background-color: #525050;width:220px; height: 55px; margin-left: 250px; display: flex; position: absolute;  ">
              <b style="margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">LED</b>
              <div style="border-color: #ffffff; border-style: solid; width: 19px; margin-left: 120px; border-radius: 100%; height: 18px; margin-top: 17px ;border-width: 2px; pointer-events: none;">
               <div ></div>
             </div>
             <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="Jetzt kommt wieder eine Ente" data-html="true" data-content="Awwww <img src='https://ais.fudder.de/piece/07/36/c9/f5/121031157.jpg' width='200' />" style="margin-left:10px"></i>
           </div>

           <div class="outputMethod"; id="outputDisplay" style="border-radius: 10px;background-color: #525050;width:220px; height: 55px; margin-left: 500px; display: flex; position: absolute; ">
            <b style="margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Display</b>
            <div style="border-color: #ffffff; border-style: solid; margin-left:90px; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; border-width: 2px; pointer-events: none; ">
             <div ></div>
           </div> 
           <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="Jetzt kommt ein Flugzeug" data-html="true" data-content="jetzt kommt ein Flugzeug mein Kleiner: <img src='https://www.it-daily.net/images/Aufmacher-2019/Flugzeug_1371617297-700.jpg' width='200' />" style="margin-left:10px"></i>
         </div>

          </div>
          <div class="fieldCon">
            <p class="fieldNote">Speichern auf SD Karte </p>

            <div class="saveOnSD"; id="sdYes" style="border-radius: 10px;background-color: #525050;width:125px; height: 55px; margin-left:250px; display: flex; position: absolute; ">
              <b style="margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Ja</b>
              <div style="border-color: #ffffff; border-style: solid; margin-left: 40px; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; border-width: 2px; pointer-events: none; ">
               <div ></div>
             </div> 
             <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="Cookie!" data-html="true" data-content="Und JETZT kommt ein Cookie <img src='https://www.davitec.de/fileadmin/_processed_/4/b/csm_cookie_79ba98007f.png' width='200' />" style="margin-left:10px"></i>
           </div>
           <div class="saveOnSD"; id="sdNo" style="border-radius: 10px;background-color: #525050;width:125px; height: 55px; margin-left:400px; display: flex; position: absolute; ">
            <b style=" margin-top: 15px; margin-left: 10px; color: white; pointer-events: none;"onselectstart="return false">Nein</b>
            <div style="border-color: #ffffff; border-style: solid; margin-left: 20px; width: 19px; border-radius: 100%; height: 18px; margin-top: 17px ; border-width: 2px; pointer-events: none; ">
             <div ></div>
           </div> 
           <i class="bi bi-question-circle"  style="color: white;font-size: 20px; margin-left: 10px; margin-top: 8px; " data-trigger="hover" data-toggle="popover" title="Lese mich" data-html="true" data-content="Klick mal auf VERSAND (hier unten )" style="margin-left:10px"></i>
         </div>
           
          </div>

          
          <div class="con2">
            <p style="text-align: center; color: white; margin-bottom: 0;">Versand und Preis:</p>
            <div style="margin-left: 20px; position: absolute; color: white; background-color: white; width: 300px; height: 2px; margin-top: 10px;"></div>

            <p style="color: white; margin-left: 16px; margin-top: 20px;">Lieferzeit:</p>  

            <p style="color: white; margin-left: 16px; margin-top: 20px;">Preis (zzgl. <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Versand</a>, inkl. Steuern): 500,99€</p>  
          </div>
        </div>
      </div>


      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Vorwarnung</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Leider wurde die <b>MABYST-Website</b> noch nicht für ihre Auflösung optimisiert.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>

      <footer> <p><a href="irgendwohin" id = "fo">Impressum</a></p> </footer>     



</html>

<style>
  
</style>
<script>

console.log($(window).width())

if( $(window).width() < 500){
  $('#exampleModal').modal('show');
}

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

document.getElementById("payButtonBar").lastElementChild.firstElementChild.classList.toggle("inlineBlue")

document.getElementById("payButtonBank").classList.toggle("payButtonBank");

document.getElementById("scaleKlein").children[1].firstElementChild.classList.toggle("inlineBlue");


document.getElementById("schwarz").children[1].firstElementChild.classList.toggle("inlineBlue");

document.getElementById("outputLed").children[1].firstElementChild.classList.toggle("inlineBlue");
document.getElementById("sdNo").children[1].firstElementChild.classList.toggle("inlineBlue");



document.addEventListener("DOMContentLoaded", function(){
  document.body.addEventListener('click', function(e){
    

    // pay Buttons
    if(e.target && e.target.className == "payButtons" || e.target.id == "payButtonBank"){
      document.getElementById("payButtonBank").lastElementChild.firstElementChild.classList.remove("inlineBlue")
      document.getElementById("payButtonPaypal").lastElementChild.firstElementChild.classList.remove("inlineBlue")
      document.getElementById("payButtonBar").lastElementChild.firstElementChild.classList.remove("inlineBlue")
      e.target.lastElementChild.firstElementChild.classList.toggle("inlineBlue");
    }
    

    if(e.target && e.target.className == "scaleButtons"){
      document.getElementById("scaleKlein").children[1].firstElementChild.classList.remove("inlineBlue");
      document.getElementById("scaleGroß").children[1].firstElementChild.classList.remove("inlineBlue");;

      e.target.children[1].firstElementChild.classList.toggle("inlineBlue");
    }
    if(e.target && e.target.className == "colorButtons"){

      document.getElementById("schwarz").children[1].firstElementChild.classList.remove("inlineBlue");
      document.getElementById("grau").children[1].firstElementChild.classList.remove("inlineBlue");
      document.getElementById("weiß").children[1].firstElementChild.classList.remove("inlineBlue");

      e.target.children[1].firstElementChild.classList.toggle("inlineBlue");
    }
    if(e.target && e.target.className == "outputMethod"){
      document.getElementById("outputLed").children[1].firstElementChild.classList.remove("inlineBlue");
      document.getElementById("outputDisplay").children[1].firstElementChild.classList.remove("inlineBlue");

      e.target.children[1].firstElementChild.classList.toggle("inlineBlue");
    }
    if(e.target && e.target.className == "saveOnSD"){
      document.getElementById("sdYes").children[1].firstElementChild.classList.remove("inlineBlue");
      document.getElementById("sdNo").children[1].firstElementChild.classList.remove("inlineBlue");

      e.target.children[1].firstElementChild.classList.toggle("inlineBlue");
    }

  });


});    

</script>
