<!DOCTYPE html>

<html>
     <!--Schrift und Zeichenkodierung-->
     <head><meta charset="utf-8"/> <style>body {font-family: "MarianinaWdFYBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif}</style></head> <!--change default font-->

     <!--Cloudfare styles für bestimmte -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="header.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <header>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
        <title>mabyst | made by students  </title>
          
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
          <a class="navbar-brand" href="#"><b>made by students</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produkte
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Alle Produkte</a>
            <div class="dropdown-divider"></div>
  
            <a class="dropdown-item" href="/sensor">CO<sub>2</sub> Sensor</a>
          </div>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/kaufen">Kaufen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/hilfe">Hilfe</a>
        </li>
      </ul>
       <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    Irgendwas
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">
                    Über uns
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://www.sophie-scholl-schule.eu/">
                    Sophie-Scholl-Schule
                  </a>
              </li>
          </ul>
      
      <span class="navbar-text">
      </span>
    </div>
  </nav>
        
        </header>
        

        <body>
          <div class="hero-image">          
              
              

              <div class="hero-text">               
                 <h1 style="font-size: 500%; margin-top: 20px;" ><b> Hilfecenter </b> </h1>
                <p></p>             
                <center>
                   
               </center>                
            </div>
          </div>           
          </div>


          <h1 style="margin-left: 20%; margin-top: 20px;">Support Anschreiben:</h1>
          <hr style="color: white; height: 2px; background-color: rgb(174, 181, 174); margin-top: 20px; width: 60%;">

          <form style="width: 60%; margin-left: 20%;">
            <div class="form-group">
              <label for="exampleFormControlInput1">Ihre Email-Adresse</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
           

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Ihren Text:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <a class="btn btn-primary" href="#" role="button">Absenden</a>
          </form>

          <h1 style="margin-left: 20%; margin-top: 40px;">Fragen</h1>
          <hr style="color: white; height: 2px; background-color: rgb(174, 181, 174); margin-top: 20px; width: 60%; margin-bottom: -10px;">
          
          <center><div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content pt-5 mt-2" style="width: 60%; ">
            
            <div class="card" >
                <div class="card-header" role="tab" id="headingOne">
                    <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_472" aria-expanded="false" aria-controls="collapse1">
                        <h4 class="mbr-fonts-style display-5">
                            <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>  Wie kann man etwas machen?
                        </h4>
                    </a>
                </div>
                <div id="collapse1_472" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body p-4">
                        <p class="mbr-fonts-style panel-text display-7">
                           Wissen wir leider gerade nicht</p>
                    </div>
                </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                  <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_473" aria-expanded="false" aria-controls="collapse1">
                      <h4 class="mbr-fonts-style display-5">
                          <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Wie kann man etwas machen?
                      </h4>
                  </a>
              </div>
              <div id="collapse1_473" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body p-4">
                      <p class="mbr-fonts-style panel-text display-7">
                         Wissen wir leider gerade nicht</p>
                  </div>
              </div>
          </div>

          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_474" aria-expanded="false" aria-controls="collapse1">
                    <h4 class="mbr-fonts-style display-5">
                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Wie kann man etwas machen?
                    </h4>
                </a>
            </div>
            <div id="collapse1_474" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body p-4">
                    <p class="mbr-fonts-style panel-text display-7">
                       Wissen wir leider gerade nicht</p>
                </div>
            </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
              <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_475" aria-expanded="false" aria-controls="collapse1">
                  <h4 class="mbr-fonts-style display-5">
                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Wie kann man etwas machen?
                  </h4>
              </a>
          </div>
          <div id="collapse1_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body p-4">
                  <p class="mbr-fonts-style panel-text display-7">
                     Wissen wir leider gerade nicht</p>
              </div>
          </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_476" aria-expanded="false" aria-controls="collapse1">
                <h4 class="mbr-fonts-style display-5">
                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Wie kann man etwas machen?
                </h4>
            </a>
        </div>
        <div id="collapse1_476" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body p-4">
                <p class="mbr-fonts-style panel-text display-7">
                   Wissen wir leider gerade nicht</p>
            </div>
        </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
          <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_477" aria-expanded="false" aria-controls="collapse1">
              <h4 class="mbr-fonts-style display-5">
                  <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Wie kann man etwas machen?
              </h4>
          </a>
      </div>
      <div id="collapse1_477" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body p-4">
              <p class="mbr-fonts-style panel-text display-7">
                 Wissen wir leider gerade nicht</p>
          </div>
      </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_478" aria-expanded="false" aria-controls="collapse1">
            <h4 class="mbr-fonts-style display-5">
                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Wie kann man etwas machen?
            </h4>
        </a>
    </div>
    <div id="collapse1_478" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body p-4">
            <p class="mbr-fonts-style panel-text display-7">
               Wissen wir leider gerade nicht</p>
        </div>
    </div>
</div>

<div class="card">
  <div class="card-header" role="tab" id="headingOne">
      <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_479" aria-expanded="false" aria-controls="collapse1">
          <h4 class="mbr-fonts-style display-5">
              <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Wie kann man etwas machen?
          </h4>
      </a>
  </div>
  <div id="collapse1_479" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body p-4">
          <p class="mbr-fonts-style panel-text display-7">
             Wissen wir leider gerade nicht</p>
      </div>
  </div>
</div>

<div class="card" style="margin-bottom: 100px;">
  <div class="card-header" role="tab" id="headingOne">
      <a role="button"  style="text-decoration: none; color: rgb(0, 0, 0);" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_480" aria-expanded="false" aria-controls="collapse1">
          <h4 class="mbr-fonts-style display-5">
              <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Wie kann man etwas machen?
          </h4>
      </a>
  </div>
  <div id="collapse1_480" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body p-4">
          <p class="mbr-fonts-style panel-text display-7">
             Wissen wir leider gerade nicht</p>
      </div>
  </div>
</div>


<a href="#" style="font-size: 20px; margin-bottom: 10px;">Impressum</a>
</center>
          
          
          
          
          

          
            
            
            
                                    
        </div>

            
          
            

        </body>

</html>

<style>
  body{
    background-color: #ffffff;
          color: #464444;
          margin: 0 ;
      }

      @media all and (min-width: 992px) {

	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("help_banner.jpg");

  /* Set a specific height */
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute; 
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  background-color: #413e3e;
  background: rgba(255, 255, 255, 0.7);
  width: 60%;
  height: 50%;
  
}



</style>
