
#fo { /*css code über footer*/
    position: absolute;
    margin-left: 800px;
    color: #ffffff;
}
.footer{
position: absolute;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: right;
}

