<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>ProLand - Product Landing Page Template</title>

<link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>

<link href="css/lib/bootstrap.min.css" rel="stylesheet">
<link href="css/plugins/lineicons.css" rel="stylesheet">
  <link href="vendors/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
  <link href="vendors/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="vendors/owl-carousel/assets/owl.carousel.css" rel="stylesheet">
  <link href="css/plugins/animate.css" rel="stylesheet">

<link href="css/plugins/preloader.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css" >
<link href="css/themes/blue-orange.css" rel="stylesheet">

<!--[if lt IE 9]>
    <script src="js/lib/html5shiv.min.js"></script>
    <script src="js/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body class="home" data-scroll-animation="true">

   

<div id="loading">
<div id="loading-center">
<div id="loading-center-absolute">
<div class="object" id="object_four"></div>
<div class="object" id="object_three"></div>
<div class="object" id="object_two"></div>
<div class="object" id="object_one"></div>
</div>
</div>
</div>

 



<header class="row" id="header">
  


<span class="navbar-text">
</span>
</div>
</nav>
  <div class="top-banner row m0 text-center fadeInOnLoad">
  <div class="container">
  <h2>The future of tech is here</h2>
  <p>Holisticly incentivize revolutionary collaboration and idea sharing before cost effective users. Actual focused services before highly efficient human capital. </p>
  <a href="#product-choose" class="btn btn-primary btn-lg">BUY WITH PAYPAL</a>
  <div class="row apple-watch">
  <img src="images/apple-watch.png" alt="" class="watch_img">
  </div>
  </div>
  </div>
  </header>

<section class="row the-product" id="product">
<div class="container">
<div class="row section-header wow fadeInUp">
<h2>the product</h2>
<p>Introduce the product here. A small description about what it is and how it helps the user. You can also add some photos below.</p>
</div>
<div class="row apple-watch-note-feature text-center">
<img src="images/apple-watch-2.png" alt="">

<div class="feature-note right top wow fadeInRight">
<div class="indicator">
<div class="plus-icon">
<span class="plus">+</span>
</div>
</div>
<div class="feature-name">
metalic strap
</div>
</div>

<div class="feature-note left top wow fadeInLeft">
<div class="indicator">
<div class="plus-icon">
<span class="plus">+</span>
</div>
</div>
<div class="feature-name">
Gps tracker
</div>
</div>

<div class="feature-note right bottom wow fadeInUp">
<div class="indicator">
<div class="plus-icon">
<span class="plus">+</span>
</div>
</div>
<div class="feature-name">
Bluetooth 4.2
</div>
</div>

<div class="feature-note left bottom wow fadeInLeft">
<div class="indicator">
<div class="plus-icon">
 <span class="plus">+</span>
</div>
</div>
<div class="feature-name">
water resistant
</div>
</div>
</div>
</div>
</section>

<section class="row how-it-works">
<div class="container">
<div class="row section-header v2 wow fadeInUp">
<h2>how it works</h2>
<p>Everybody loves tech gadgets, But our’s is different. Here is how it works. Its should be simple. Add how easy is to install your product</p>
</div>
<div class="row work-processes">

<div class="col-sm-4 work-process wow fadeIn">
<div class="row m0 process-icon">
<img src="images/desktop.png" alt="">
</div>
<h3>Connect Device</h3>
<p>Lorem ipsum dolor sit amet, consectetur de elit, sed do tempor incididunt ut labore eta rehenderit in voluptate velit.</p>
</div>

<div class="col-sm-4 work-process wow fadeIn" data-wow-delay="0.5s">
<div class="row m0 process-icon">
<img src="images/toggles.png" alt="">
</div>
<h3>Configure it</h3>
<p>Lorem ipsum dolor sit amet, consectetur de elit, sed do tempor incididunt ut labore eta rehenderit in voluptate velit.</p>
</div>

<div class="col-sm-4 work-process wow fadeIn" data-wow-delay="1s">
<div class="row m0 process-icon">
<img src="images/trophy.png" alt="">
</div>
<h3>Yay! Done.</h3>
<p>Lorem ipsum dolor sit amet, consectetur de elit, sed do tempor incididunt ut labore eta rehenderit in voluptate velit.</p>
</div>
</div>
</div>
</section>

<section class="row the-benefits" id="features">
<div class="container">
<div class="row section-header wow fadeInUp">
<h2>The Benefits</h2>
<p>List out your product’s benefit here. A small description about what it is and how it helps the user. You can also add some icons.</p>
</div>
<div class="row benefit-notes">

<div class="col-sm-6 col-md-4 benefit wow fadeInUp">
<div class="media">
<div class="media-left">
<span><i class="li_location"></i></span>
</div>
<div class="media-body">
<h4>GPS Tracking</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
</div>

<div class="col-sm-6 col-md-4 benefit wow fadeInUp" data-wow-delay="0.3s">
<div class="media">
<div class="media-left">
<span><i class="li_heart"></i></span>
</div>
<div class="media-body">
<h4>Heartbeat Analysis</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
</div>

<div class="col-sm-6 col-md-4 benefit wow fadeInUp" data-wow-delay="0.6s">
<div class="media">
<div class="media-left">
<span><i class="li_lock"></i></span>
</div>
<div class="media-body">
<h4>Security first</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
</div>

<div class="col-sm-6 col-md-4 benefit wow fadeInUp" data-wow-delay="0.9s">
<div class="media">
<div class="media-left">
<span><i class="li_bulb"></i></span>
</div>
<div class="media-body">
<h4>Innovative idea</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
</div>

<div class="col-sm-6 col-md-4 benefit wow fadeInUp" data-wow-delay="1.2s">
<div class="media">
<div class="media-left">
<span><i class="li_banknote"></i></span>
</div>
<div class="media-body">
<h4>Save your bills</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
</div>

<div class="col-sm-6 col-md-4 benefit wow fadeInUp" data-wow-delay="1.5s">
<div class="media">
<div class="media-left">
<span><i class="li_lab"></i></span>
</div>
<div class="media-body">
<h4>Proven technology</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="row left-right-contents">
<div class="container">
<div class="row ">
<div class="col-sm-12 col-md-4 col-md-push-4 text-center wow fadeIn">
<img src="images/apple-watch-3.png" alt="">
</div>
<div class="col-md-4 col-sm-6 col-md-pull-4 left-content">
<div class="media wow fadeInUp">
<div class="media-left">
<span><i class="li_key"></i></span>
</div>
<div class="media-body">
<h4>Fast and secure</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
<div class="media wow fadeInUp" data-wow-delay="0.3s">
<div class="media-left">
<span><i class="li_megaphone"></i></span>
</div>
<div class="media-body">
<h4>Voice Assistant</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
<div class="media wow fadeInUp" data-wow-delay="0.6s">
<div class="media-left">
<span><i class="li_diamond"></i></span>
</div>
<div class="media-body">
<h4>Apps you love</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 right-content">
<div class="media wow fadeInUp">
<div class="media-left">
<span><i class="li_like"></i></span>
</div>
<div class="media-body">
<h4>Stay in touch</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
<div class="media wow fadeInUp" data-wow-delay="0.3s">
<div class="media-left">
<span><i class="li_user"></i></span>
</div>
<div class="media-body">
<h4>Designed for you</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
<div class="media wow fadeInUp" data-wow-delay="0.6s">
<div class="media-left">
<span><i class="li_clock"></i></span>
</div>
<div class="media-body">
<h4>Precise timepiece</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="row our-collection">
<div class="container">
<div class="row section-header wow fadeInUp">
<h2>Our Collection</h2>
<p>You are unique. You have unique style and you need a unique watch for you. Choose from our collection of watches.</p>
</div>
<div class="row collections">

<div class="col-sm-6 col-md-3 item wow fadeIn">
<div class="row m0 featured-img">
<img src="images/collection-1.jpg" alt="">
</div>
<h4 class="title">Watch Limited Edition</h4>
<h5 class="category">Stainless steel case</h5>
<h4 class="price">$399</h4>
<a href="#product-choose" class="btn">CHOOSE</a>
</div>

<div class="col-sm-6 col-md-3 item wow fadeIn" data-wow-delay="0.5s">
<div class="row m0 featured-img">
<img src="images/collection-2.jpg" alt="">
</div>
<h4 class="title">Watch Bracelet</h4>
<h5 class="category">White strap &amp; Stainless steel</h5>
<h4 class="price">$299</h4>
<a href="#product-choose" class="btn">CHOOSE</a>
</div>

<div class="col-sm-6 col-md-3 item wow fadeIn" data-wow-delay="1s">
<div class="row m0 featured-img">
<img src="images/collection-3.jpg" alt="">
</div>
<h4 class="title">Watch Original</h4>
<h5 class="category">The FirstWatch ever released</h5>
<h4 class="price">$249</h4>
<a href="#product-choose" class="btn">CHOOSE</a>
</div>

<div class="col-sm-6 col-md-3 item wow fadeIn" data-wow-delay="1.5s">
<div class="row m0 featured-img">
<img src="images/collection-4.jpg" alt="">
</div>
<h4 class="title">Watch Soprts Edition</h4>
<h5 class="category">Water proof and Fitness tracking</h5>
<h4 class="price">$399</h4>
<a href="#product-choose" class="btn">CHOOSE</a>
</div>
</div>
</div>
</section>



<section class="row split-columns">
<div class="row m0 split-column wow fadeIn">
<div class="col-sm-6 image text-right">
<img src="images/split-1.jpg" alt="">
</div>
<div class="col-sm-6 texts">
<div class="texts-inner row m0">
<h2>Every Apps you wanted</h2>
<p>You won’t just send and receive messages, calls, and mail more easily and efficiently. You’ll express yourself in unique, fun, and more personal ways. Communicating with Watch is discreet, sophisticated, and nuanced. a whole new way to connect with others.</p>
</div>
</div>
</div>
<div class="row m0 split-column wow fadeIn">
<div class="col-sm-6 col-sm-push-6 image">
<img src="images/split-2.jpg" alt="">
</div>
<div class="col-sm-6 col-sm-pull-6 texts">
<div class="texts-inner row m0">
<h2>Health and Fitness</h2>
<p>Fitness isn’t just about running, biking, or hitting the gym. It’s also about being active throughout the day. Watch measures all the ways you move, such as walking the dog, taking the stairs, or playing with your kids. It even keeps track of when you stand up.</p>
</div>
</div>
</div>
</section>
	
<section class="row contact" id="contact">




</div>
</div>

</section>

<footer class="row">
<div class="container">
<div class="row m0 social-links">
<ul class="nav">
<li class="wow fadeInUp"><a href="#"><i class="fa fa-facebook"></i></a></li>
<li class="wow fadeInUp" data-wow-delay="0.1s"><a href="#"><i class="fa fa-twitter"></i></a></li>
<li class="wow fadeInUp" data-wow-delay="0.2s"><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li class="wow fadeInUp" data-wow-delay="0.3s"><a href="#"><i class="fa fa-youtube"></i></a></li>
<li class="wow fadeInUp" data-wow-delay="0.4s"><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li class="wow fadeInUp" data-wow-delay="0.5s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
</ul>
</div>
<div class="row m0 menu-rights">
<ul class="nav footer-menu">
<li><a href="about.html">About</a></li>
<li><a href="terms-of-use.html">Terms of Use</a></li>
<li><a href="privacy-policy.html">Privacy Policy</a></li>
<li><a href="#">Mobile App</a></li>
<li><a href="presskit.zip">PressKit</a></li>
</ul>
<p>Copyright © 2016. Proland.
<br class="small-divide"> All rights reserved</p>
</div>
</div>
</footer>

<div class="row product-box mfp-hide" id="product-choose">
<button class="mfp-close custom_close" title="Close (Esc)" type="button">&#215;</button>
<div class="product-img-gallery">
<div id="product-imgs" class="carousel slide" data-ride="carousel">

<ol class="carousel-indicators">
<li data-target="#product-imgs" data-slide-to="0" class="active"></li>
<li data-target="#product-imgs" data-slide-to="1"></li>
<li data-target="#product-imgs" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="item active">
<img src="images/the-watch-1.png" alt="watch-1">
</div>
<div class="item">
<img src="images/the-watch-2.png" alt="watch-2">
</div>
<div class="item">
<img src="images/the-watch-3.png" alt="watch-3">
</div>
</div>
</div>
</div>
<div class="product-desc">

<form action="https://www.paypal.com/cgi-bin/webscr" method="POST" target="_top" class="choose-form row m0" id="paypal-regn">
<div id="js-product-info" class="product-info">
<h4 class="name">Smart Watch</h4>
<h2 class="edition">Sports Edition</h2>
<h5 class="model">MODEL AS1500</h5>
<h2 class="price"><del>$349</del>$299 <span class="label label-default">early bird offer</span></h2>
<div class="row m0 description">
<p>8mm Silver Aluminum Case with Blue Sport Band. Its perfect fit for tracking fitness. 100% waterproof. Buy this limted edition sports edition.</p>
</div>
<div class="choose-options row m0" id="js-choose-color">
<div class="option">
<h4 class="form-label">Choose a color</h4>
<div class="row m0 colors">
<input type="radio" name="os0" value="Blue" id="color-1" checked>
<label for="color-1"></label>
<input type="radio" name="os0" value="Violet" id="color-2">
<label for="color-2"></label>
<input type="radio" name="os0" value="Magenta" id="color-3">
<label for="color-3"></label>
<input type="radio" name="os0" value="Yellow" id="color-4">
<label for="color-4"></label>
<input type="radio" name="os0" value="Green" id="color-5">
<label for="color-5"></label>
</div>
</div>
<div class="option">
<h4 class="form-label">Qty</h4>
<input type="text" value="1" name="quantity" class="quanity">
</div>
<div class="option">
<h4 class="form-label">Size</h4>
<select class="selectpicker" name="os1">
<option value="M" selected>M</option>
<option value="L">L</option>
<option value="XL">XL</option>
</select>
</div>
</div>
<div class="submit-area row m0">
<a href="javascript:void(0);" class="btn btn-rounded btn-block" id="next-personal">Checkout</a>
</div>
</div>

<div class="personal-info" id="js-personal-info">
<div class="form-group text-center"><a href="javascript:void(0);" class="btn" id="prev-product-info">Go Back</a></div>
<div class="row">
<div class="form-group col-sm-6">
<input type="text" name="first_name" class="form-control" placeholder="First Name" required>
</div>
<div class="form-group col-sm-6">
<input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
</div>
</div>
<div class="form-group">
<input type="email" name="email" class="form-control" placeholder="Email Address" required>
</div>
<div class="form-group">
<input type="text" name="address1" class="form-control" placeholder="Address Line 1" required>
</div>
<div class="form-group">
<input type="text" name="address2" class="form-control" placeholder="Address Line 2" required>
</div>
<div class="row">
<div class="form-group col-sm-6">
<input type="text" name="state" class="form-control" placeholder="State" required>
</div>
<div class="form-group col-sm-6">
<input type="text" name="zip" class="form-control" placeholder="Zip Code" required>
</div>
</div>
<div class="form-group">
<select class="form-control" name="Country" required>
<option selected value="">Choose a country</option>
<option value="United States">United States</option>
<option value="United Kingdom">United Kingdom</option>
<option value="Australia">Australia</option>
<option value="India">India</option>
</select>
</div>




<input type="hidden" name="cmd" value="_xclick">

<input type="hidden" name="business" value="surjithctly-facilitator@gmail.com">
<input type="hidden" name="lc" value="IN">

<input type="hidden" name="item_name" value="Smart Watch Sports Edition">

<input type="hidden" name="item_number" value="AS1500">

<input type="hidden" name="amount" value="299.00">

<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">

<input type="hidden" name="tax_rate" value="5.000">

<input type="hidden" name="shipping" value="10.00">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">

<input type="hidden" name="on0" value="Color">

<input type="hidden" name="on1" value="Size">


<input type="hidden" name="notify_url" value="php/verify-ipn.html">

<input type="hidden" name="return" value="success.html">

<input type="hidden" name="cancel_return" value="index_buy_paypal.html">

<div class="submit-area-2 row m0">
<button type="submit" class="btn btn-rounded js-preorder-btn btn-block"><span>Pay with Paypal</span></button>

<img alt="" src="../../../www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</div>
</div>

</form>
</div>
</div>



<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/lib/jquery-2.2.0.min.js"></script>

<script src="js/lib/bootstrap.min.js"></script>

<script src="vendors/owl-carousel/owl.carousel.js"></script>
<script src="vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="js/plugins/gmaps.min.js"></script>
<script src="js/plugins/google-map.js"></script>
<script src="js/plugins/wow.min.js"></script>
<script src="js/plugins/validate.js"></script>

<script src="js/includes/pre-order.js"></script>
<script src="js/includes/subscribe.js"></script>
<script src="js/includes/contact.js"></script>

<script src="js/includes/style-switcher.js"></script>

<script src="js/main.js"></script>
</body>

<!-- Mirrored from demo.web3canvas.com/themeforest/proland/index_buy_paypal.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Jun 2021 13:06:59 GMT -->
</html>
