<!DOCTYPE html>

<html>
     <!--Schrift und Zeichenkodierung-->
     <head><meta charset="utf-8"/> <style>body {font-family: system-ui, sans-serif;}</style></head> <!--change default font-->

     <!--Cloudfare styles für bestimmte -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="header.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <header>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
        <title>mabyst | made by students </title>
          
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
          <a class="navbar-brand" href="#"><b>Dashboard</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Dashboard verlassen </a>
        </li>
      </ul>
      
      <span class="navbar-text">
      </span>
    </div>
  </nav>
        
        </header>
        

        <body>
            <center>
                <p style="color: white;  font-size: 50px; ">Made by Students Dashboard </p>
            </center>   
            
            <div style="margin-left: 100px; margin-top: 50px; margin-right: 100px;">
                <div class="card text-center bg-dark">
                    <div class="card-header">
                      <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Homepage</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">CO<sub>2</sub> Sensor</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Kaufen</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Hilfe</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Über uns </a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="color: white;">Motivations Text Updaten (Bitte Seite neuladen wenn hier unten nichts erscheint)</h5>
                        <textarea id="motText" class="form-control  bg-dark mb-3" style="height: 500px; color: white;" aria-label="With textarea"><%= motivation %></textarea>
    
                        <a href="#" class="btn btn-primary" id="motUp" style="margin-top: 20px;">Text Updaten</a>
                    </div>
                  </div>
            </div>

            
        </body>
        
</html>

<style>
  body{
          background-color: #413e3e;
          color: #464444;
          margin: 0 ;
      }


</style>

<script>
$('#motUp').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=motivation&text="+$("#motText").val();
});

</script>
